//    DARK COLORS
$dark-blue: #5c9eff;
$dark-yellow: #c5b637;
$dark-green: #1da252;
$dark-orange: #eb7017;
$dark-red: #e34f43;
$dark-purple: #d245d2;
//     LIGHT COLORS
$light-blue: #294a79;
$light-yellow: #999039;
$light-green: #1c6868;
$light-orange: #e33324;
$light-red:#961D13;
$light-purple: #7E207E;